<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{~/css/application.css}" rel="stylesheet">
    <link th:href="@{~/css/login.css}" rel="stylesheet">
    <link th:href="@{~/css/settings.css}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Blinker' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script th:src="@{~/javascript/account.js}" defer></script>

  <title>Account Settings || BikeSapati</title>
</head>
<body>
<header>
  <div th:replace="~{fragments/searchBar.html :: search-bar-settings}"></div>
</header>

<div class="settings-container" style="padding-top: 75px;">
  <h3>General Settings</h3>
    <form class="general-container" th:method="post" th:action="@{/updateGeneral/}+${loggedUser.id}" th:object="${loggedUser}" enctype="multipart/form-data">

      <input hidden th:field="*{id}" th:value="${loggedUser.id}">

      <div class="general-form-container">
        <div class="text-inputs">

          <div class="field-container">
            <div class="headings">Name</div>

            <div class="divider"></div>

            <div class="fields">
              <div class="text-input-container-short">
                <div class="text-input-container">
                  <input type="text" th:field="*{fName}" th:value="${loggedUser.fName}" placeholder="First Name..." class="text-input" onkeyup="validateName(0)">
                  <i class="fas fa-user fa-xs"></i>
                </div>

                <div class="text-input-container">
                  <input type="text" th:field="*{lName}" th:value="${loggedUser.lName}" placeholder="Last Name..." class="text-input" onkeyup="validateName(1)">
                  <i class="fas fa-user fa-xs"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="field-container">
            <div class="headings">Phone</div>

            <div class="divider"></div>

            <div class="fields">
                <div class="text-input-container">
                  <input type="tel" th:field="*{mobileNo}" th:value="${loggedUser.mobileNo}" placeholder="Phone Number..." class="text-input" onkeyup="validatePhone()">
                  <i class="fas fa-phone fa-xs fa-flip-horizontal"></i>
                </div>
            </div>
          </div>

          <div class="field-container">
            <div class="headings">Address</div>

            <div class="divider"></div>

            <div class="fields">
              <div class="text-input-container">
                <input type="text" th:field="*{address}" th:value="${loggedUser.address}" placeholder="Address..." class="text-input" onkeyup="validateAddress()">
                <i class="fa fa-map-marker-alt fa-xs"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="image-inputs">
          <div class="picture">
            <div class="no-image">
              <img th:attr="src=${loggedUser.image}" id="ItemPreview">
            </div>

            <div class="upload">
              <input type="file" th:field="*{image}" class="input-img" id="profile-pic" onchange=addImage()>
              <label for="profile-pic"><i class="fas fa-upload"></i>Upload</label>
              <button type="button" class="remove"><i class="fas fa-trash"></i>Remove</button>
            </div>
          </div>
        </div>
      </div>

      <div class="submit-div">
              <button type="submit" class="submit">SAVE CHANGES</button>
      </div>

    </form>

  <hr width="96%">

  <h3>Documents</h3>
    <form class="documents-container" th:method="post" th:action="@{/updateDocs/}+${loggedUser.id}" th:object="${loggedUser}" enctype="multipart/form-data">

    <div class="documents-form-container">
      <div class="text-inputs">
          <div class="field-container">
            <div class="headings">Citizenship</div>
            <div class="divider"></div>
            <div class="fields">
              <div class="text-input-container-short">
                <input type="file" accept="image/png, image/jpeg" th:field="*{citizenshipF}" th:value="${loggedUser.citizenshipF}" id="citizen-front" onchange="documentsCheck('citizen-front', 0)">
                <label for="citizen-front" class="document-name"><i class="fa fa-address-card fa-xs"></i>Citizenship (Front)</label>

                <input type="file" accept="image/png, image/jpeg" th:field="*{citizenshipB}" th:value="${loggedUser.citizenshipB}" id="citizen-back" onchange="documentsCheck('citizen-back', 1)">
                <label for="citizen-back" class="document-name"><i class="fa fa-address-card fa-xs"></i>Citizenship (Back)</label>
              </div>
            </div>
          </div>

          <div class="field-container">
            <div class="headings">License</div>
            <div class="divider"></div>
            <div class="fields">

              <input type="file" accept="image/png, image/jpeg" th:field="*{license}" th:value="${loggedUser.license}" id="license" onchange="documentsCheck('license', 2)">
              <label for="license" class="document-name"><i class="fa fa-address-card fa-xs"></i>License</label>

            </div>
          </div>
      </div>
      <div class="status">
          <div class="text-field-status">
              <h2 th:text="${loggedUser.status}"></h2>
          </div>
      </div>
    </div>

    <div class="submit-div">
      <button type="submit" class="submit" onclick="changeStatus()">SUBMIT</button>
    </div>
  </form>

  <hr width="96%">

  <h3>Security Settings</h3>
    <div class="security-container">
        <div class="email-field">
          <div class="display-form"><span>CHANGE EMAIL</span></div>
          <form class="change-email">
            <div class="text-input-container">
              <input type="email" placeholder="Enter new email..." class="text-input" onkeyup="validateEmail(4)">
              <i class="fas fa-envelope fa-xs"></i>
            </div>
            <div class="otp-input-container">
              <input type="text" placeholder="Enter OTP..." class="text-input" onkeyup="validateOTP()">
              <i class="fas fa-key fa-xs"></i>
            </div>
            <div class="submit-div" style="margin-top: 20px">
              <button class="submit" type="button" onclick="emailChange()">SEND OTP</button>
            </div>
          </form>
        </div>
      <div class="divider"></div>
      <hr class="divider-hr">
        <div class="password-field">
          <div class="display-form"><span>CHANGE PASSWORD</span></div>
          <form class="change-password">
            <div class="password-input-container">
              <input type="password" placeholder="Current password..." class="password-input" onkeyup="validatePassword(0)">
              <i class="fas fa-lock fa-xs"></i>
              <button class="show-password-button" type="button" onclick="showPassword(0)"><i class="fas fa-eye"></i></button>
            </div>
            <div class="password-input-container">
              <input type="password" placeholder="New password..." class="password-input" onkeyup="validatePassword(1)">
              <i class="fas fa-lock fa-xs"></i>
              <button class="show-password-button" type="button" onclick="showPassword(1)"><i class="fas fa-eye"></i></button>
            </div>
            <div class="password-input-container">
              <input type="password" placeholder="Confirm password..." class="password-input" onkeyup="validatePassword(2)">
              <i class="fas fa-lock fa-xs"></i>
              <button class="show-password-button" type="button" onclick="showPassword(2)"><i class="fas fa-eye"></i></button>
            </div>
            <div class="submit-div" style="margin-top: 20px">
              <button class="submit" type="submit">UPDATE</button>
            </div>
          </form>
        </div>
    </div>
</div>

<footer>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</footer>

</body>
</html>