<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
    <link th:href="@{~/css/application.css}" rel="stylesheet">
    <title th:text="${category.categoryName}+' || BikeSapati'"></title>
</head>
<body>
<header>
  <div th:replace="~{fragments/searchBar.html :: search-bar-normal}"></div>
</header>

<article>
  <div class="middle">
    <!-- Body -->
    <div class="display-items">
      <div class="items-container" th:object="${category}">
        <div class="topic">
          <div class="see-more">
            <a th:href="@{/home}">⮜ <u>Back</u></a>
          </div><h3 th:text="${category.categoryName}"></h3></div>
        <span class="desc">Description of Bike Category</span>
        <div class="items">
          <div class="item" th:each="bike:${bikeList}">
            <div class="item-image">
              <img th:src="${bike.bikeImage}">
              <div class="image-details">
                <h4 style="margin-bottom:4px; margin-top:0">Choose a Plan: </h4>
                <button class="image-prices" th:text="'Rs. '+${bike.priceDay}+' / Day'"></button>
                <button class="image-prices" th:text="'Rs. '+${bike.priceMonth}+' / Month'"></button>
                <button class="image-prices" th:text="'Rs. '+${bike.priceYear}+' / Year'"></button>
              </div>
            </div>
            <hr style="width:90%">
            <div class="bike-brand" th:text="${bike.brandName}"></div>
            <div class="bike-name" th:text="${bike.bikeName}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<footer>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</footer>
</body>
</html>