<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
    <link href="../static/css/application.css" rel="stylesheet">
    <script src="../static/javascript/category.js" defer></script>
    <title>Title</title>
</head>
<body>
<header>
    <div class="head">

    <!-- Logo Division -->
    <div class="logo-div" style="flex: 1.5;">
      <img th:src="@{~/images/logos/logopng.png}" alt="logo" class="logo">
    </div>

    <!-- Search Division -->
    <div class="search-div">

      <!-- Input Box -->
      <div style="flex: 1;">
        <label>
          <input placeholder="Search Bikes..." class="search">
        </label>
      </div>

      <!-- Search Button -->
      <div>
        <button class="search-button" onclick="alert('Searched')">
          <img src="../static/images/search.png" alt="Go">
        </button>
      </div>
    </div>

    <!-- Profile Picture Division -->
    <div class="profile">
      <div class = left-align-profile>
        <div class="profile-div" onclick="alert('Profile')">
          <div class="picture">
            <div class="profile-head"></div>
            <div class="profile-body"></div>
          </div>
          <a href="#" class="profile-link"><span>Login</span></a>
        </div>
        <div style="height: 8px;"></div>
        <div class="drop-down-profile">
          <div class="dropdown-element"><a href="#"><img src="../static/images/drop-down/user.svg" class="element-image" alt="User">Account Settings</a><br></div>
          <div class="dropdown-element"><a href="#"><img src="../static/images/drop-down/calendar_check.svg" class="element-image" alt="Reservations">My Reservations</a><br></div>
          <div class="dropdown-element"><a href="#"><img src="../static/images/drop-down/help_circle_outline.svg" class="element-image" alt="Help">Help & Support</a><br></div>
          <div class="dropdown-element"><a href="#"><img src="../static/images/drop-down/message.svg" class="element-image" alt="Feedback">Feedback</a><br></div>
          <div class="dropdown-element"><a href="#" style="color: #f95d5d;"><img src="../static/images/drop-down/log_out.svg" class="element-image" alt="Logout">Logout</a><br></div>
        </div>
      </div>
    </div>

  </div>
</header>

<article>
  <div class="middle">
    <!-- Body -->
    <div class="display-items"></div>

  </div>
</article>

<footer>
  <div class="footer">
    <div class="upper-part">
      <div class="categories" style="flex: 1;">
        <p class="title">Useful Links</p>
        <div class="links">
          <a href="https://www.honda.com.np/" class="category-link" target="_blank">Honda</a>
          <a href="https://nepal.globalbajaj.com/en" class="category-link" target="_blank">Bajaj</a>
          <a href="https://suzukimotorcycle.com.np/" class="category-link" target="_blank">Suzuki</a>
          <a href="https://ngmhero.com/" class="category-link" target="_blank">Hero</a>
          <a href="https://tvsnepal.com/" class="category-link" target="_blank">TVS</a>
          <a href="https://www.ktm.com/en-np.html" class="category-link" target="_blank">KTM</a>
          <a href="https://www.benelli.com/np-en" class="category-link" target="_blank">Benelli</a>
          <a href="https://yatrimotorcycles.com/" class="category-link" target="_blank">Yatri</a>
          <a href="https://vmotosoco.com.np/" class="category-link" target="_blank">Super Soco</a>
        </div>
      </div>

      <div class="divider"></div>

      <div class="description">
        <p class="title">Bike Sapati</p>
        <p class="description">BikeSapati is a ride renting platform for two-wheelers. On this platform, you can
          view images, view specifications and rent bikes with different plans for any period of time
          from a day to a year.</p>

        <div class="socials">
          <div class="social-link">
            <a href="https://www.facebook.com/avyash.adh/" target="_blank"><img src="../static/images/social-media/facebook.svg" alt="Facebook"></a>
          </div>

          <div class="social-link">
            <a href="https://www.instagram.com/abhyas.adh/" target="_blank"><img src="../static/images/social-media/instagram.svg" alt="Instagram"></a>
          </div>

          <div class="social-link">
            <a href="https://www.linkedin.com/in/abhyas-adh/" target="_blank"><img src="../static/images/social-media/LinkedIn.svg" alt="LinkedIn"></a>
          </div>

          <div class="social-link">
            <a href="https://github.com/abhyasadh" target="_blank"><img src="../static/images/social-media/Github.svg" alt="Github"></a>
          </div>

        </div>
      </div>

      <div class="divider"></div>

      <div class ="contact">
        <p class="title">Contact Us</p>
        <div class="dropdown-element"><img src="../static/images/contact/phone_outline.svg" class="element-image" alt="Phone">9841234567, 01-4412345<br></div>
        <div class="dropdown-element"><img src="../static/images/contact/mail.svg" class="element-image" alt="Mail"><a href="mailto: adhikari.abhyash@gmail.com" style="color: white">adhikari.abhyash@gmail.com</a><br></div>
        <div class="dropdown-element"><img src="../static/images/contact/location_outline.svg" class="element-image" alt="Location">Dillibazar, Kathmandu<br></div>
      </div>
    </div>

    <div class="copyright">
      <div class = "logo">
        <img src="../static/images/logos/softwaricalogo.png" height="46px" alt="Softwarica Logo">
      </div>
      <div class="text">
        © Copyright 2022 - Designed and Developed by <b>Abhyas Adhikari</b>.
      </div>

    </div>
  </div>
</footer>
</body>
</html>