<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{~/css/application.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Blinker' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet'>
    <script th:src="@{~/javascript/home.js}" defer></script>
    <title>Bikes || BikeSapati</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/searchBar.html :: search-bar-normal}"></div>
    </header>

    <article>
        <div class="middle">
            <!-- Body -->
            <div class="display-items">
                <div class="items-container">
                    <div class="topic"><h3>Most Rented</h3></div>
                    <div class="items">
                        <div class="position" th:each="rented:${mostRented}">
                            <span></span>
                            <div class="item">
                                <div class="item-image">
                                    <img th:src="${rented.bikeImage}">
                                    <div class="image-details">
                                        <h4 style="margin-bottom:4px; margin-top:0">Choose a Plan: </h4>
                                        <button class="image-prices" th:text="'Rs. '+${rented.priceDay}+' / Day'"></button>
                                        <button class="image-prices" th:text="'Rs. '+${rented.priceMonth}+' / Month'"></button>
                                        <button class="image-prices" th:text="'Rs. '+${rented.priceYear}+' / Year'"></button>
                                    </div>
                                </div>
                                <hr style="width:90%">
                                <div class="bike-brand" th:text="${rented.brandName}"></div>
                                <div class="bike-name" th:text="${rented.bikeName}"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <div th:each="element : ${categoryBike}" class="items-container">
                    <div class="topic">
                        <div class="see-more">
                            <a th:href="@{~/category/}+${element.key.id}">
                                <u>See All</u> ⮞</a>
                        </div>
                        <h3 th:text="${element.key.categoryName}"></h3>
                    </div>
                    <div class="items">
                        <div th:each="bike : ${element.value}" class="item">
                            <div class="item-image">
                                <img th:src="${bike.bikeImage}">
                                <div class="image-details">
                                    <h4 style="margin-bottom:4px; margin-top:0">Choose a Plan: </h4>
                                    <button class="image-prices" th:text="'Rs. '+${bike.priceDay}+' / Day'"></button>
                                    <button class="image-prices" th:text="'Rs. '+${bike.priceMonth}+' / Month'"></button>
                                    <button class="image-prices" th:text="'Rs. '+${bike.priceYear}+' / Year'"></button>
                                </div>
                            </div>
                            <hr style="width:90%">
                            <div class="bike-brand" th:text="${bike.brandName}"></div>
                            <div class="bike-name" th:text="${bike.bikeName}"></div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </article>

    <footer>
        <div th:replace="~{fragments/footer.html :: footer}"></div>
    </footer>
</body>
</html>

<!-- <576px
576px - 768px
768px - 992px
992px - 1200px
>1200px -->