<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/login.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet'>
    <script src="../static/javascript/login.js" defer></script>
    <title>Login || BikeSapati</title>
</head>
<body>

    <div class = "form">
        <div class="tab-buttons">
            <button class="login"><span>Sign in</span></button>
            <button class="signup"><span>Register</span></button>
        </div>

        <div class="login-form">

            <div>
                <div class="text-input-container">
                    <label>
                        <input type="email" placeholder="Enter your email..." class="text-input">
                    </label>
                </div>

                <div class="password-input-container">
                    <label>
                        <input type="password" placeholder="Enter your password..." class="password-input">
                    </label>
                    <button class="show-password-button" onclick="showPassword(0)"><img src="../static/images/logos/show.png" alt="Show" class="show-password-image"></button>
                </div>
            </div>

            <div class="forgot">
                <a href="#" class="forgot">Recover Password</a>
            </div>

            <button type="submit" class="submit">SIGN IN</button>
        </div>

        <div class="signup-form">
            <div class="signup-names">
                <label>
                    <input type="text" placeholder="First Name..." class="text-input-short">
                </label>
                <label>
                    <input type="text" placeholder="Last Name..." class="text-input-short">
                </label>
            </div>
            <label>
                <input type="email" placeholder="Enter your email..." class="text-input">
            </label>
            <div class="password-input-container">
                <label>
                    <input type="password" placeholder="Create a password..." class="password-input">
                </label>
                <button class="show-password-button" onclick="showPassword(1)"><img src="../static/images/logos/show.png" alt="Show" class="show-password-image"></button>
            </div>
            <div class="password-input-container">
                <label>
                    <input type="password" placeholder="Confirm password..." class="password-input">
                </label>
                <button class="show-password-button" onclick="showPassword(2)"><img src="../static/images/logos/show.png" alt="Show" class="show-password-image"></button>
            </div>
            <button type="submit" class="submit">REGISTER</button>
        </div>

    </div>

</body>
</html>