<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="signup-form">
    <div class="text-input-container-short">
        <div class="text-input-container">
            <input type="text" placeholder="First Name..." class="text-input">
            <i class="fas fa-user fa-xs"></i>
        </div>

        <div class="text-input-container">
            <input type="text" placeholder="Last Name..." class="text-input">
            <i class="fas fa-user fa-xs"></i>
        </div>
    </div>

    <div class="text-input-container">
        <input type="email" placeholder="Enter your email..." class="text-input">
        <i class="fas fa-envelope fa-xs"></i>
    </div>

    <div class="text-input-container">
        <input type="text" placeholder="Enter phone number..." class="text-input">
        <i class="fas fa-lock fa-xs"></i>
    </div>

    <div class="password-input-container">
        <input type="password" placeholder="Confirm password..." class="password-input">
        <i class="fas fa-lock fa-xs"></i>
    </div>

    <button type="submit" class="submit">REGISTER</button>
</form>

</body>
</html>