body{
    padding: 0;
    margin: 0;
}

.form {
    width: 350px;
    border-radius: 18px;
    height: 400px;
}

.form .tab-buttons {
    width: 100%;
    display: flex;
}

.form .tab-buttons button{
    width: 100%;
    flex: 1;
    height: 50px;
}

.form .tab-buttons .login {
    border-radius: 16px;
    font-family: "Rammetto One", sans-serif;
    font-size: 16px;
    color: white;
    border-style: none;
    cursor: pointer;
    background-color: #586ba4;
    transition: all 250ms ease-out;
    margin: 4px;
}

.form .tab-buttons .signup {
    border-radius: 16px;
    font-family: "Rammetto One", sans-serif;
    font-size: 16px;
    color: #586ba4;
    background-color: white;
    border-style: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    margin: 4px;
    scale: 0.8;
}

.form .login-form, .form .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .text-input, .form .text-input-short{
    width: 280px;
    height: 38px;
    border-radius: 8px;
    border: none;
    background-color: #EFEFEF;
    margin-top: 20px;
    padding: 0 12px 0 12px;
    font-size: 14px;
}

.form .text-input-short{
    width: 120px;
    margin: 20px 5px 0 5px;
}

.form .text-input:focus, .form .text-input-short:focus{
    outline-color: #fb6565;
}

.form .password-input-container {
    width: 302px;
    height: 34px;
    display: flex;
    border-radius: 8px;
    border: none;
    background-color: #EFEFEF;
    align-items: center;
    padding: 2px 1px 2px 1px;
    margin-top: 20px;
}

.form .password-input{
    width: 248px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #EFEFEF;
    padding: 0 6px 0 12px;
}

.form .password-input:focus{
    outline: none;
}

.form .show-password-button{
    width: 28px;
    height: 28px;
    margin: 2px;
    border: none;
    cursor: pointer;
    padding: 4px 0 0;
    background-color: #EFEFEF;
}

.form .login-form .forgot {
    display: inline-block;
    margin-left: 90px;
    font-family: Cambria, serif;
    font-size: 12px;
    text-decoration: none;
    margin-top: 3px;
    color: #586ba4;
    position: relative;
}

.form .login-form .forgot a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #586ba4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.form .login-form .forgot a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.form .submit {
    width: 40%;
    height: 38px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #586ba4;
    margin-top: 40px;
    padding: 0 12px 0 12px;
    font-size: 12px;
    font-family: "Rammetto One", sans-serif;
    cursor: pointer;
}